* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Sans-serif;
}
body{
    overflow-x: hidden;
}
.mybtn {
    display: inline-block;
    background-color: #F96475;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bolder;
}
.mybtn:hover {
    color: white;
}
.mexaimg {
    width: 70px;
}
.navbar-nav .nav-item {
    transition: all .1s ease;
    border-top: #F96475;
    box-shadow: none;
    text-align: center;
}
.navbar-nav .nav-item:not(.no-hover-effect):hover {
    border-top: 4px solid #F96475;
}
.navbar-item .active-item {
    color: #F96475;
    border-top: 4px solid #F96475;
}
#banner {
    color: white;
    padding: 350px 0px;
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
}
.section-one .btn {
    background-color: #F96475;
    font-family: "Poppins", Sans-serif;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 40px;
    font-weight: bolder;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    box-shadow: none;
}
.section-one p {
    padding: 10px 0px;
}
.section-one h1 {
    font-size: 50px;
    font-weight: 700;
}
.section-one .btn:hover {
    color: #F96475;
    background-color: white !important;
    transition: all .3s ease;
    box-shadow: none;
}
#about {
    background-color: #FFFFFF;
    padding: 150px 0px;
}
.section-two h2 {
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}
.section-two span {
    color: #F96475;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.section-two p {
    opacity: .7;
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
}
.image img {
    width: 100%;
}
#section-three {
    padding: 120px 0px;
    background-color: #F6FAFE;
}
.video-wrapper {
    background-image: url("../img/video.jpg");
    position: relative;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-wrapper a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-wrapper a i{
    font-size: 100px;
}
.counter-up {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 10px 20px 0px rgb(60 70 113 / 11%);
    position: relative;
    top:-50px
}
.counter-up .text {
    font-size: 16px;
    opacity: .7;
}
.counter {
    text-align: center;
}
@media (max-width: 575.98px) {
    #banner {
        padding: 100px 0px;
    }
    .section-one h1 {
        font-size: 25px;
    }
}
.icon {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-item {
    color: white;
    display: inline-block;
}
#section-five-id {
    padding: 200px 0px;
}
#section-five-id img {
    width: 90%;
}
.section-five h2 {
    display: inline-block;
    padding-bottom: 10px;
    line-height: 3px;
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}
.section-five span {
    display: inline-block;
    padding-bottom: 10px;
    color: #F96475;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.section-five p {
    display: inline-block;
    padding-bottom: 10px;
    opacity: .7;
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
}
#image-area {
    background-color: #F6FAFE;
    padding: 50px 0px;
}
#image-area img {
    width: 100%;
}
.image-area-span {
    color: #F96475;
}
.line {
    width: 1px;
    height: 80px;
    background-color: white;
    padding: 0px;
}
#pricing {
    color: white;
    padding: 100px 0px;
    background-color: #F96475;
}
.dollar {
    font-size: 60px;
}
.pricing-h2 {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}
.chat {
    display: inline-block;
    background-color: white;
    color: #F96475;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 500;
}
.chat:hover {
    color: #F96475;
}
.blog {
    text-align: center;
}
.blog span {
    color: #F96475;
}
.blog h2 {
    font-weight: 800;
    font-size: 40px;
}
#pricing {
    color: white;
    padding-block: 150px;
    background-color: #F96475;
}
.pricing-h2 {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}
.chat {
    display: inline-block;
    background-color: white;
    color: #F96475;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 500;
}
.chat:hover {
    color: #F96475;
}
.read-more {
    padding-block: 80px;
}
.read-more a {
    text-decoration: none;
    color: #F96475;
}
.read-more h3 {
    font-weight: 600;
    font-size: 20px;
}
.read-more-p {
    width: 80%;
    opacity: .7;
    font-weight: 300;
    font-size: 15px;
}
.read-img {
    width: 100%;
    border-radius: 10px;
}
#footer {
    height: 40vh;
    width: 100vw;
    background-color: #07112D;
    color: white;
}
#footer ul li {
    list-style: none;
}
#footer ul li {
    margin-left: -30px;
    opacity: .7;
}
#footer h6 {
    opacity: .7;
}
#footer span i {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    background-color: #21283a;
    cursor: pointer;
    transition: all .3 ease;
}
#footer span i:hover {
    background-color: #131b31;
}
@media screen and (max-width: 768px) {
    #footer {
        height: 70vh;
        text-align: center;
        line-height: 30px;
    }
}
@media (max-width: 991.98px) {
    .navbar-nav .nav-item:hover {
        border-top: none !important;
    }
}
.navbar-toggler{
    border:none!important;
    box-shadow: none!important;
    outline: none!important;
    background-color: #FFECEF;
    border-radius: 10px;
}
.navbar-toggler-icon{
    filter: invert(55%) sepia(31%) saturate(4359%) hue-rotate(314deg) brightness(101%) contrast(96%);
}
.navbar-toggler:hover{
    background-color: #F96475;
}
.navbar-toggler:hover .navbar-toggler-icon{
    filter: invert(100%); 
}