*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    overflow-x: hidden;
}
.mybtn {
    display: inline-block;
    background-color: #F96475;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bolder;
}
.mybtn:hover {
    color: white;
}
.mexaimg {
    width: 70px;
}
.navbar-nav .nav-item {
    transition: all .1s ease;
    border-top: #F96475;
    box-shadow: none;
    text-align: center;
}
.navbar-nav .nav-item:not(.no-hover-effect):hover {
    border-top: 4px solid #F96475;
}
.navbar-item .active-item {
    color: #F96475;
    border-top: 4px solid #F96475;
}
#post{
    padding: 100px 0px;
    background-color: #F96475;
}
.title{
    font-size: 40px;
    font-weight: 700;
}
.icon{
    color: #F96475;
}
.forms input{
    background-color: #fff6f7;
    border: none;
}
.forms input:focus{
    box-shadow: none;
    background-color: #fff6f7;
    border: none;
}
.forms textarea:focus{
    box-shadow: none;
    background-color: #fff6f7;
    border: none;
}
.forms textarea{
    background-color: #fff6f7;
    height: 200px;
    border: none;
}
.forms label{
    font-size: 15px;
    color: #364453;
    font-weight:500;
}
#footer{
    height: 40vh;
    width: 100vw;
    background-color: #07112D;
    color: white;
}
#footer ul li{
    list-style: none;
}
#footer ul li {
    margin-left: -30px;
    opacity: .7;
}
#footer h6{
    opacity: .7;
}
#footer span i{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    background-color: #21283a;
    cursor: pointer;
    transition: all .3 ease;
}
#footer span i:hover{
background-color: #131b31;
}
@media screen and (max-width: 768px) {
    #footer{
        height: 70vh;
        text-align: center;
        line-height: 30px;
    }   
}
@media screen and (max-width: 768px) {
    #footer {
        height: 70vh;
        text-align: center;
        line-height: 30px;
    }
}
@media (max-width: 991.98px) {
    .navbar-nav .nav-item:hover {
        border-top: none !important;
    }
}
.navbar-toggler{
    border:none!important;
    box-shadow: none!important;
    outline: none!important;
    background-color: #FFECEF;
    border-radius: 10px;
}
.navbar-toggler-icon{
    filter: invert(55%) sepia(31%) saturate(4359%) hue-rotate(314deg) brightness(101%) contrast(96%);
}
.navbar-toggler:hover{
    background-color: #F96475;
}
.navbar-toggler:hover .navbar-toggler-icon{
    filter: invert(100%); 
}