@model AppUser

<h1 class="mb-4">Change @Model.Name's Password</h1>
<form method="post">
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="password" name="newPassword" class="form-control" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>